body{
	background-image: linear-gradient(to bottom, rgba(170, 220, 211, 1), rgba(51, 51, 51, 0.2));
	font-family: Montserrat;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

nav{
	width:100%;
	background: gray;
}

table{
	max-width: 70%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	border-collapse: collapse;
  	border: 2px gray;

}

footer{
	width:100%;
	background: gray;
	height: 58px;
	margin-top: 55px;
}
footer>p{
	padding:20px;
	color:white;
	text-align: center;
}

ul{
	list-style-type: none;
	height: 58px;
	margin: 0px;
}

li{
	float: left;
}

li a{
	display:block;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color:white;
}

a:hover{

	display: block;
	background-color: rgba(83, 200, 206, 0.5);

}

form{
	max-width: 500px;
	background: rgba(0,0,0,0);
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 5px solid gray;
	text-align: center;
}

legend{
	margin-left: 40%;
}

input[type="button"]:hover, 
input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;

}

input[type="button"], 
input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 13px Arial, Helvetica, sans-serif;
	margin-top:5px;

}

.image{
	position: relative;
	text-align: center;
	max-height: 450px;
	overflow:hidden;

}

.image-size{
	width: 101%;
	margin-left: -4px;
	margin-top: -20%;
}

.center{
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%, -50%);
	color:white;
	font-family: Montserrat;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 40px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flex-box{
	display: flex;
	flex-wrap: wrap;
	max-width: 70%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;

}

.item1{
	width: 100%;
}

.item2{
	align-content: center;
}